.area{
    width: 484px;
    height: 484px;
    background-color: #C2B8A9;
    padding: 16px 0 0 16px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
}
.square {
    background-color: #CBC0B2;
    width: 105px;
    height: 105px;
    margin: 0 16px 16px 0;
    float: left;
    font-size: 77px;
    line-height: 105px;
    text-align: center;
}
.num_2 {
    background-color: #DAD0C4;
    color: #A89092;
}
.num_4 {
    background-color: #DAD0C4;
    color: #A89092;
}
.num_8 {
    background-color: #DAD0C4;
    color: #A89092;
}
.num_16 {
    background-color: #DAD0C4;
    color: #A89092;
}
.num_32 {
    background-color: #DAD0C4;
    color: #A89092;
}
.num_64 {
    background-color: #DAD0C4;
    color: #A89092;
}
.num_128 {
    font-size: 55px;
    background-color: #DAD0C4;
    color: #A89092;
}
.num_256 {
    font-size: 55px;
    background-color: #DAD0C4;
    color: #A89092;
}
.num_512 {
    font-size: 55px;
    background-color: #DAD0C4;
    color: #A89092;
}
.num_1024 {
    font-size: 45px;
    background-color: #DAD0C4;
    color: #A89092;
}
.num_2048 {
    font-size: 45px;
    background-color: #DAD0C4;
    color: #A89092;
}