* {
    font-family: 'Microsoft Yahei';
    font-weight: 700;
}
.area{
    width: 484px;
    height: 484px;
    background-color: #B8AF9E;
    padding: 16px 0 0 16px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
}
.square {
    background-color: #CCC0B2;
    width: 105px;
    height: 105px;
    margin: 0 16px 16px 0;
    float: left;
}
.default {
    margin: 0 auto;
    position: relative; 
	top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.num_2 {
    background-color: #EEE4DA;
    color: #7C736A;
}
.num_4 {
    background-color: #ECE0C8;
    color: #7C736A;
}
.num_8 {
    background-color: #F2B179;
    color: #FFF7EB;
}
.num_16 {
    background-color: #F59563;
    color: #FFF7EB;
}
.num_32 {
    background-color: #F57C5F;
    color: #FFF7EB;
}
.num_64 {
    background-color: #F65D3B;
    color: #FFF7EB;
}
.num_128 {
    background-color: #EDCE71;
    color: #FFF7EB;
}
.num_256 {
    background-color: #EDCC61;
    color: #FFF7EB;
}
.num_512 {
    background-color: #EDCC61;
    color: #FFF7EB;
}
.num_1024 {
    background-color: #EDCC61;
    color: #FFF7EB;
}
.num_2048 {
    background-color: #EDCC61;
    color: #FFF7EB;
}
@keyframes top {
    from {top: 50%;}
    to {top: -50%;}
}
@keyframes bottom {
    from {top: 50%;}
    to {top: 100%;}
}
@keyframes left {
    from {left: 0;}
    to {left: -100%;}
}
@keyframes right {
    from {left: 50%;}
    to {left: 100%;}
}
@keyframes new {
    from {width: 5px; height: 5px; font-size: 0px; line-height: 5px;}
    to {width: 105px; height: 105px; font-size: 55px; line-height: 105px;}
}
